<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqttsnet.thinglinks.ota.mapper.OtaUpgradeTargetsMapper">
    <!--
        代码生成器 by 2025-10-19 16:28:50
        自定义sql建议在base文件夹同级新建ext文件夹，并新建同名且同namespace的xml进行编写。方便修改字段时，重新生成此文件。
    -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mqttsnet.thinglinks.ota.entity.OtaUpgradeTargets">
        <id column="id" property="id"/>
        <result column="task_id" property="taskId"/>
        <result column="target_value" property="targetValue"/>
        <result column="target_status" property="targetStatus"/>
        <result column="remark" property="remark"/>
        <result column="deleted" property="deleted"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="created_org_id" property="createdOrgId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, task_id, target_value, target_status, remark, deleted, 
        created_by, created_time, updated_by, updated_time, created_org_id
    </sql>

</mapper>
