<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.iot.persistence.mapper.IoTDashboardStatisticsMapper">

    <resultMap id="BaseResultMap" type="org.springblade.modules.iot.persistence.entity.IoTDashboardStatistics">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="stat_date" property="statDate" jdbcType="DATE"/>
        <result column="product_key" property="productKey" jdbcType="VARCHAR"/>
        <result column="channel" property="channel" jdbcType="VARCHAR"/>
        <result column="metric_type" property="metricType" jdbcType="VARCHAR"/>
        <result column="metric_value" property="metricValue" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , stat_date, product_key, channel, metric_type, metric_value, create_time, update_time
    </sql>

    <!-- 根据日期和指标类型查询统计数据 -->
    <select id="selectByDateAndMetric" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM iot_dashboard_statistics
        WHERE stat_date = #{statDate}
        <if test="metricType != null and metricType != ''">
            AND metric_type = #{metricType}
        </if>
        <if test="productKey != null and productKey != ''">
            AND product_key = #{productKey}
        </if>
        <if test="channel != null and channel != ''">
            AND channel = #{channel}
        </if>
        ORDER BY metric_type ASC
    </select>

    <!-- 查询指定日期范围的统计数据 -->
    <select id="selectByDateRange" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM iot_dashboard_statistics
        WHERE stat_date BETWEEN #{startDate} AND #{endDate}
        <if test="metricType != null and metricType != ''">
            AND metric_type = #{metricType}
        </if>
        <if test="productKey != null and productKey != ''">
            AND product_key = #{productKey}
        </if>
        <if test="channel != null and channel != ''">
            AND channel = #{channel}
        </if>
        ORDER BY stat_date ASC, metric_type ASC
    </select>

    <!-- 根据唯一键查询统计数据 -->
    <select id="selectByUniqueKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM iot_dashboard_statistics
        WHERE stat_date = #{statDate}
        AND (product_key = #{productKey} OR (product_key IS NULL AND #{productKey} IS NULL))
        AND (channel = #{channel} OR (channel IS NULL AND #{channel} IS NULL))
        AND metric_type = #{metricType}
        LIMIT 1
    </select>

    <!-- 根据唯一键更新统计数据 -->
    <update id="updateByUniqueKey">
        UPDATE iot_dashboard_statistics
        SET metric_value = #{metricValue},
            update_time  = #{updateTime}
        WHERE stat_date = #{statDate}
          AND (product_key = #{productKey} OR (product_key IS NULL AND #{productKey} IS NULL))
          AND (channel = #{channel} OR (channel IS NULL AND #{channel} IS NULL))
          AND metric_type = #{metricType}
    </update>

    <!-- 插入统计数据 -->
    <insert id="insert" parameterType="org.springblade.modules.iot.persistence.entity.IoTDashboardStatistics">
        INSERT INTO iot_dashboard_statistics
        (stat_date, product_key, channel, metric_type, metric_value, create_time, update_time)
        VALUES (#{statDate}, #{productKey}, #{channel}, #{metricType}, #{metricValue}, #{createTime},
                #{updateTime})
    </insert>

    <!-- 删除指定日期的所有统计数据 -->
    <delete id="deleteByDate">
        DELETE
        FROM iot_dashboard_statistics
        WHERE stat_date = #{statDate}
    </delete>

</mapper> 