<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.iot.persistence.mapper.IoTDeviceFenceRelMapper">

    <delete id="deleteFenceInstance" parameterType="String">
        delete
        from iot_device_fence_rel
        where iot_id = #{iotId}
    </delete>
    <delete id="deleteDeviceIdAndFenceId">
        delete
        from iot_device_fence_rel
        where fence_id = #{fenceId}
          and device_id = #{deviceId}

    </delete>
    <select id="selectFenceByIotId"
            resultType="org.springblade.modules.iot.pojo.vo.IoTDeviceGeoFenceVO">
        select df.*
        from iot_device_fence_rel dif
                 left join iot_device_geo_fence df on dif.fence_id = df.id
        where dif.iot_id = #{iotId}
    </select>

</mapper>