<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.iot.persistence.mapper.IoTUserApplicationMapper">

    <resultMap type="org.springblade.modules.iot.pojo.entity.IoTUserApplication"
               id="IotUserApplicationResult">
        <!--        <result property="uuid"    column="uuid"    />-->
        <result property="unionId" column="union_id"/>
        <result property="appName" column="app_name"/>
        <result property="appUniqueId" column="app_unique_id"/>
        <result property="appId" column="app_id"/>
        <result property="upTopic" column="up_topic"/>
        <result property="downTopic" column="down_topic"/>
        <result property="notifyUrl" column="notify_url"/>
        <result property="appSecret" column="app_secret"/>
        <result property="validEndDate" column="valid_end_date"/>
        <result property="scope" column="scope"/>
        <result property="appStatus" column="app_status"/>
        <result property="instance" column="instance"/>
        <result property="remark" column="remark"/>
        <result property="createDate" column="create_date"/>
        <result property="deleted" column="deleted"/>
        <result property="cfg" column="cfg"/>
    </resultMap>
    <resultMap type="org.springblade.modules.iot.pojo.vo.IoTUserApplicationVO"
               id="IotUserApplicationVoResult">
        <!--        <result property="uuid"    column="uuid"    />-->
        <result property="unionId" column="union_id"/>
        <result property="appName" column="app_name"/>
        <result property="appUniqueId" column="app_unique_id"/>
        <result property="appId" column="app_id"/>
        <result property="upTopic" column="up_topic"/>
        <result property="downTopic" column="down_topic"/>
        <result property="notifyUrl" column="notify_url"/>
        <result property="appSecret" column="app_secret"/>
        <result property="validEndDate" column="valid_end_date"/>
        <result property="scope" column="scope"/>
        <result property="appStatus" column="app_status"/>
        <result property="instance" column="instance"/>
        <result property="remark" column="remark"/>
        <result property="createDate" column="create_date"/>
        <result property="deleted" column="deleted"/>
        <result property="httpEnable" column="http_enable"/>
        <result property="mqttEnable" column="mqtt_enable"/>
        <result property="cfg" column="cfg"/>
    </resultMap>
    <sql id="selectIotUserApplicationVo">
        select union_id,
               app_name,
               app_unique_id,
               app_id,
               up_topic,
               down_topic,
               notify_url,
               valid_end_date,
               scope,
               app_status,
               instance,
               remark,
               create_date,
               deleted,
               http_enable,
               mqtt_enable,
               cfg
        from iot_user_application
    </sql>

    <select id="selectIotUserApplicationList"
            parameterType="org.springblade.modules.iot.pojo.entity.IoTUserApplication"
            resultMap="IotUserApplicationVoResult">
        <include refid="selectIotUserApplicationVo"/>
        <where>
            <if test="unionId != null  and unionId != ''">and union_id = #{unionId}</if>
            <if test="appName != null  and appName != ''">and app_name like concat('%', #{appName}, '%')
            </if>
            <if test="appUniqueId != null  and appUniqueId != ''">and app_unique_id = #{appUniqueId}</if>
            <if test="appId != null  and appId != ''">and app_id = #{appId}</if>
            <if test="upTopic != null  and upTopic != ''">and up_topic = #{upTopic}</if>
            <if test="downTopic != null  and downTopic != ''">and down_topic = #{downTopic}</if>
            <if test="notifyUrl != null  and notifyUrl != ''">and notify_url = #{notifyUrl}</if>
            <if test="appSecret != null  and appSecret != ''">and app_secret = #{appSecret}</if>
            <if test="validEndDate != null ">and valid_end_date = #{validEndDate}</if>
            <if test="scope != null  and scope != ''">and scope = #{scope}</if>
            <if test="appStatus != null ">and app_status = #{appStatus}</if>
            <if test="instance != null  and instance != ''">and instance = #{instance}</if>
            <if test="createDate != null ">and create_date = #{createDate}</if>
            <if test="deleted != null ">and deleted = #{deleted}</if>
        </where>
        order by create_date desc
    </select>

    <select id="selectIotUserApplicationById" parameterType="String"
            resultMap="IotUserApplicationResult">
        <include refid="selectIotUserApplicationVo"/>
        where app_unique_id = #{appUniqueId}
    </select>
    <select id="selectIotUserApplicationByAppId" parameterType="String"
            resultMap="IotUserApplicationResult">
        <include refid="selectIotUserApplicationVo"/>
        where app_id = #{appId}
    </select>
    <select id="selectIotUserApplicationByUnionId" parameterType="String"
            resultMap="IotUserApplicationResult">
        <include refid="selectIotUserApplicationVo"/>
        where union_id = #{unionId}
    </select>

    <insert id="insertIotUserApplication"
            parameterType="org.springblade.modules.iot.pojo.entity.IoTUserApplication" useGeneratedKeys="true"
            keyProperty="appUniqueId">
        insert into iot_user_application
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <!--        <if test="uuid !=null and uuid !=''">uuid,</if>-->
            <if test="unionId != null  and unionId != ''">union_id,</if>
            <if test="appName != null  and appName != ''">app_name,</if>
            <if test="appUniqueId != null  and appUniqueId != ''">app_unique_id,</if>
            <if test="appId != null  and appId != ''">app_id,</if>
            <if test="upTopic != null  and upTopic != ''">up_topic,</if>
            <if test="downTopic != null  and downTopic != ''">down_topic,</if>
            <if test="notifyUrl != null  and notifyUrl != ''">notify_url,</if>
            <if test="appSecret != null  and appSecret != ''">app_secret,</if>
            <if test="validEndDate != null ">valid_end_date,</if>
            <if test="scope != null  and scope != ''">scope,</if>
            <if test="appStatus != null ">app_status,</if>
            <if test="instance != null  and instance != ''">instance,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createDate != null ">create_date,</if>
            <if test="deleted != null ">deleted,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <!--        <if test="uuid !=null and uuid !=''">#{uuid},</if>-->
            <if test="unionId != null  and unionId != ''">#{unionId},</if>
            <if test="appName != null  and appName != ''">#{appName},</if>
            <if test="appUniqueId != null  and appUniqueId != ''">#{appUniqueId},</if>
            <if test="appId != null  and appId != ''">#{appId},</if>
            <if test="upTopic != null  and upTopic != ''">#{upTopic},</if>
            <if test="downTopic != null  and downTopic != ''">#{downTopic},</if>
            <if test="notifyUrl != null  and notifyUrl != ''">#{notifyUrl},</if>
            <if test="appSecret != null  and appSecret != ''">#{appSecret},</if>
            <if test="validEndDate != null ">#{validEndDate},</if>
            <if test="scope != null  and scope != ''">#{scope},</if>
            <if test="appStatus != null ">#{appStatus},</if>
            <if test="instance != null  and instance != ''">#{instance},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createDate != null ">#{createDate},</if>
            <if test="deleted != null ">#{deleted},</if>
        </trim>
    </insert>

    <update id="updateIotUserApplication"
            parameterType="org.springblade.modules.iot.pojo.entity.IoTUserApplication">
        update iot_user_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="appName != null  and appName != ''">app_name = #{appName},</if>
            <!--              <if test="appUniqueId != null  and appUniqueId != ''">app_unique_id = #{appUniqueId},</if>-->
            <if test="appId != null  and appId != ''">app_id = #{appId},</if>
            <if test="upTopic != null  and upTopic != ''">up_topic = #{upTopic},</if>
            <if test="downTopic != null  and downTopic != ''">down_topic = #{downTopic},</if>
            <if test="notifyUrl != null  and notifyUrl != ''">notify_url = #{notifyUrl},</if>
            <if test="appSecret != null  and appSecret != ''">app_secret = #{appSecret},</if>
            <if test="validEndDate != null ">valid_end_date = #{validEndDate},</if>
            <if test="scope != null  and scope != ''">scope = #{scope},</if>
            <if test="appStatus != null ">app_status = #{appStatus},</if>
            <if test="instance != null  and instance != ''">instance = #{instance},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createDate != null ">create_date = #{createDate},</if>
            <if test="deleted != null ">deleted = #{deleted},</if>
            <if test="httpEnable != null ">http_enable = #{httpEnable},</if>
            <if test="mqttEnable != null ">mqtt_enable = #{mqttEnable},</if>
            <if test="cfg != null ">cfg = #{cfg},</if>

        </trim>
        where app_unique_id = #{appUniqueId} and union_id = #{unionId}
    </update>

    <delete id="deleteIotUserApplicationById" parameterType="String">
        delete
        from iot_user_application
        where app_unique_id = #{appUniqueId}
    </delete>

    <delete id="deleteIotUserApplicationByIds" parameterType="String">
        delete from iot_user_application where app_unique_id in
        <foreach item="appUniqueId" collection="array" open="(" separator="," close=")">
            #{appUniqueId}
        </foreach>
    </delete>

    <select id="countMqtt" parameterType="String" resultType="int">
        select count(*)
        from iot_user_application
        where up_topic is not null
          and up_topic!='' and union_id=#{unionId}
    </select>
    <select id="selectApplicationList"
            parameterType="org.springblade.modules.iot.pojo.entity.IoTUserApplication"
            resultMap="IotUserApplicationVoResult">
        <include refid="selectIotUserApplicationVo"/>
        <where>
            <if test="unionId != null  and unionId != ''">and union_id = #{unionId}</if>
            <if test="appName != null  and appName != ''">and app_name like concat('%', #{appName}, '%')
            </if>
            <if test="appUniqueId != null  and appUniqueId != ''">and app_unique_id = #{appUniqueId}</if>
            <if test="appId != null  and appId != ''">and app_id = #{appId}</if>
            <if test="upTopic != null  and upTopic != ''">and up_topic = #{upTopic}</if>
            <if test="downTopic != null  and downTopic != ''">and down_topic = #{downTopic}</if>
            <if test="notifyUrl != null  and notifyUrl != ''">and notify_url = #{notifyUrl}</if>
            <if test="appSecret != null  and appSecret != ''">and app_secret = #{appSecret}</if>
            <if test="validEndDate != null ">and valid_end_date = #{validEndDate}</if>
            <if test="scope != null  and scope != ''">and scope = #{scope}</if>
            <if test="appStatus != null ">and app_status = #{appStatus}</if>
            <if test="instance != null  and instance != ''">and instance = #{instance}</if>
            <if test="createDate != null ">and create_date = #{createDate}</if>
            <if test="deleted != null ">and deleted = #{deleted}</if>
        </where>
        order by create_date desc limit 500
    </select>

</mapper>