<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.iot.persistence.mapper.RuleModelMapper">

    <select id="selectRuleByBo" resultType="org.springblade.modules.iot.pojo.entity.RuleModel">
        select rm.id, rm.rule_name, rm.description, rm.config, rm.create_time
        from rule_model_instance rmi
        left join rule_model rm on rmi.model_id = rm.id
        <where>
            rm.creator_id = #{bo.creatorId} and status = 'run' and rmi.relation_id in
            (#{bo.productKey},#{bo.iotId}
            <if test="bo.groupIds != null and bo.groupIds.size() > 0">
                <foreach collection="bo.groupIds" separator="," open="," close=" " item="id">
                    #{id}
                </foreach>
            </if>
            )
        </where>

    </select>
    <select id="selectRuleListByBo" resultType="org.springblade.modules.iot.pojo.vo.RuleModelVO">
        select id, rule_name, description, status, creator_id, create_time
        from rule_model
        <where>
            creator_id =#{bo.creatorId}
            <if test="bo.ruleName != null and bo.ruleName != ''">
                and rule_name like concat('%',#{bo.ruleName},'%')
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>