<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.iot.persistence.mapper.IoTDeviceProtocolMapper">
    <resultMap id="BaseResultMap" type="org.springblade.modules.iot.persistence.entity.IoTDeviceProtocol">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="configuration" jdbcType="LONGVARCHAR" property="configuration"/>
        <result column="example" jdbcType="LONGVARCHAR" property="example"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
    </resultMap>

    <sql id="selectDevProtocolVo">
        select pl.id, pl.name, pl.description, pl.state, pl.type, pl.configuration, pl.example, pl.create_time, pl.version
        from iot_device_protocol pl
    </sql>

    <select id="selectDevProtocolList"
            parameterType="org.springblade.modules.iot.persistence.entity.IoTDeviceProtocol"
            resultMap="BaseResultMap">
        <include refid="selectDevProtocolVo"/>
        left join iot_product pt on pt.product_key=pl.id
        <where>
            <if test="ioTDeviceProtocol.id!=null and ioTDeviceProtocol.id != ''">and pl.id like
                concat('%',#{ioTDeviceProtocol.id},'%')
            </if>
            <if test="ioTDeviceProtocol.name != null  and ioTDeviceProtocol.name != ''">and pl.name like
                concat('%',
                #{ioTDeviceProtocol.name}, '%')
            </if>
            <if test="ioTDeviceProtocol.description != null  and ioTDeviceProtocol.description != ''">and
                pl.description = #{ioTDeviceProtocol.description}
            </if>
            <if test="ioTDeviceProtocol.state != null ">and pl.state = #{ioTDeviceProtocol.state}</if>
            <if test="ioTDeviceProtocol.type != null  and ioTDeviceProtocol.type != ''">and pl.type =
                #{ioTDeviceProtocol.type}
            </if>
            <if test="ioTDeviceProtocol.configuration != null  and ioTDeviceProtocol.configuration != ''">
                and
                pl.configuration =
                #{ioTDeviceProtocol.configuration}
            </if>
            <if test="ioTDeviceProtocol.version != null  and ioTDeviceProtocol.version != ''">
                and
                pl.version =
                #{ioTDeviceProtocol.version}
            </if>
            <if test="unionId != null and unionId != ''">
                and pt.creator_id=#{unionId}
            </if>
        </where>
        order by pl.create_time DESC
    </select>

    <select id="selectDevProtocolById" parameterType="String" resultMap="BaseResultMap">
        <include refid="selectDevProtocolVo"/>
        left join iot_product dp on pl.id=dp.product_key
        <where>
            pl.id = #{id}
            <if test="unionId != null and unionId != ''">
                and dp.creator_id=#{unionId}
            </if>

        </where>

    </select>
    <select id="countByProvider" parameterType="String" resultType="Integer">
        select count(id)
        from iot_device_protocol
        where json_extract(configuration, '$.provider') = #{provider}
    </select>
    <select id="selectDevProtocolByIds" parameterType="String" resultMap="BaseResultMap">
        <include refid="selectDevProtocolVo"/>
        where pl.id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectDevProtocolByProductKey"
            resultType="org.springblade.modules.iot.persistence.entity.IoTDeviceProtocol">
        select *
        from iot_device_protocol
        where id = #{productKey}
          and state = 1
    </select>

    <!-- 查询未创建协议的产品列表（归属人为当前用户） -->
    <select id="selectProductsWithoutProtocol" resultType="org.springblade.modules.iot.persistence.entity.IoTProduct">
        SELECT
            p.id,
            p.product_key as productKey,
            p.name,
            p.creator_id as creatorId,
            p.state,
            p.create_time as createTime
        FROM iot_product p
        LEFT JOIN iot_device_protocol dp ON p.product_key = dp.id
        <where>
            <!-- 只查询归属人为当前用户的产品 -->
            <if test="unionId != null and unionId != ''">
                AND p.creator_id = #{unionId}
            </if>
            <!-- 只查询未创建协议的产品 -->
            AND dp.id IS NULL
            <!-- 搜索条件：产品名称或productKey -->
            <if test="searchKey != null and searchKey != ''">
                AND (p.name LIKE CONCAT('%', #{searchKey}, '%')
                OR p.product_key LIKE CONCAT('%', #{searchKey}, '%'))
            </if>
            <!-- 只查询未删除的产品 -->
            AND (p.is_deleted IS NULL OR p.is_deleted = 0)
        </where>
        ORDER BY p.create_time DESC
    </select>

    <insert id="insertDevProtocol" parameterType="org.springblade.modules.iot.persistence.entity.IoTDeviceProtocol">
        insert into iot_device_protocol
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="state != null">state,</if>
            <if test="type != null">type,</if>
            <if test="configuration != null">configuration,</if>
            <if test="example != null">example,</if>
            <if test="createTime != null">create_time,</if>
            <if test="version != null">version,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="state != null">#{state},</if>
            <if test="type != null">#{type},</if>
            <if test="configuration != null">#{configuration},</if>
            <if test="example != null">#{example},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="version != null">#{version},</if>
        </trim>
    </insert>

    <insert id="insertProtocolList" parameterType="java.util.List">
        insert into iot_device_protocol (id, name, description, state, type, configuration, example, create_time, version)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.name},#{item.description},#{item.state},#{item.type},#{item.configuration},#{item.example},#{item.createTime},#{item.version})
        </foreach>
    </insert>

    <update id="updateDevProtocol" parameterType="org.springblade.modules.iot.persistence.entity.IoTDeviceProtocol">
        update iot_device_protocol
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="state != null">state = #{state},</if>
            <if test="type != null">type = #{type},</if>
            <if test="configuration != null">configuration = #{configuration},</if>
            <if test="example != null">example = #{example},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="version != null">`version` = #{version},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDevProtocolById" parameterType="String">
        delete
        from iot_device_protocol
        where id = #{id}
    </delete>

    <delete id="deleteDevProtocolByIds" parameterType="String">
        delete from iot_device_protocol where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>