<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.iot.persistence.mapper.RulegoChainLogMapper">

    <select id="selectByRulegoId" resultType="org.springblade.modules.iot.persistence.entity.RulegoChainLog">
        SELECT * FROM rulego_chain_log
        WHERE rulego_id = #{rulegoId}
        ORDER BY create_time DESC
        <if test="limit != null and limit > 0">
            LIMIT #{limit}
        </if>
    </select>

    <select id="selectByExecutionId" resultType="org.springblade.modules.iot.persistence.entity.RulegoChainLog">
        SELECT *
        FROM rulego_chain_log
        WHERE execution_id = #{executionId}
    </select>

</mapper>
