<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.iot.persistence.mapper.SysLogininforMapper">

    <resultMap type="org.springblade.modules.iot.persistence.entity.SysLogininfor" id="SysLogininforResult">
        <id property="infoId" column="info_id"/>
        <result property="userName" column="user_name"/>
        <result property="status" column="status"/>
        <!--    <result property="ipaddr" column="ipaddr"/>-->
        <!--    <result property="loginLocation" column="login_location"/>-->
        <!--    <result property="browser" column="browser"/>-->
        <!--    <result property="os" column="os"/>-->
        <result property="msg" column="msg"/>
        <result property="loginTime" column="login_time"/>
    </resultMap>

    <select id="selectList" parameterType="org.springblade.modules.iot.persistence.entity.SysLogininfor"
            resultMap="SysLogininforResult">
        select * from sys_logininfor u
        <where>
            <if test="status!=null and status!=''">
                and u.status=#{status}
            </if>
            <if test="userName!=null and  userName!=''">
                and u.user_name like concat('%',#{userName},'%')
            </if>
            <!--      <if test="ipaddr!=null  and ipaddr!=''">-->
            <!--        and u.ipaddr=#{ipaddr}-->
            <!--      </if>-->
            <!--      <if test="os!=null and  os!=''">-->
            <!--        and u.os=#{os}-->
            <!--      </if>-->
            <!--      <if test="loginLocation!=null and  loginLocation!=''">-->
            <!--        and u.login_location like concat ('%',#{loginLocation},'%')-->
            <!--      </if>-->
            <!--      <if test="browser!=null and browser !=''">-->
            <!--        and browser=#{browser}-->
            <!--      </if>-->
            <if test="msg !=null and msg!=''">
                and u.msg=#{msg}
            </if>
            <if test="params!=null and params.beginTime!=null and params.beginTime!=''">
                and date_format(login_time,'%y%m%d') >= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params!=null and params.endTime!=null and params.endTime!=''">
                and date_format(login_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by login_time desc
    </select>
</mapper> 
