<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.iot.persistence.mapper.IoTCertificateMapper">
    <resultMap id="BaseResultMap" type="org.springblade.modules.iot.pojo.entity.IoTCertificate">
        <id column="id" property="id"/>
        <result column="ssl_key" property="sslKey"/>
        <result column="name" property="name"/>
        <result column="cert_content" property="certContent"/>
        <result column="key_content" property="keyContent"/>
        <result column="cert_password" property="certPassword"/>
        <result column="key_password" property="keyPassword"/>
        <result column="expire_time" property="expireTime"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
    </resultMap>
    <!-- 可根据需要添加自定义SQL -->
</mapper> 