<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.iot.persistence.mapper.IoTDeviceLogShardMapper">
    <resultMap id="BaseResultMap" type="org.springblade.modules.iot.pojo.entity.IoTDeviceLog">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="iot_id" jdbcType="VARCHAR" property="iotId"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="product_key" jdbcType="VARCHAR" property="productKey"/>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"/>
        <result column="message_type" jdbcType="VARCHAR" property="messageType"/>
        <result column="command_id" jdbcType="VARCHAR" property="commandId"/>
        <result column="command_status" jdbcType="TINYINT" property="commandStatus"/>
        <result column="point" jdbcType="VARCHAR" property="point"/>
        <result column="event" jdbcType="VARCHAR" property="event"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>
    <select id="queryLogPageV2ByIdList"
            resultType="org.springblade.modules.iot.persistence.entity.vo.IoTDeviceLogVO">
        SELECT * FROM (
        (SELECT * FROM iot_device_log
        <where>
            <if test="id != null"> <![CDATA[id < #{id}]]></if>
            <if test="iotId != null">AND iot_id = #{iotId}</if>
        </where>
        ORDER BY create_time DESC, id DESC LIMIT #{halfSize})

        UNION ALL

        (SELECT * FROM iot_device_log
        <where>
            <if test="id != null">id >= #{id}</if>
            <if test="iotId != null">AND iot_id = #{iotId}</if>
        </where>
        ORDER BY create_time ASC, id ASC LIMIT #{halfSize})
        ) AS combined
        ORDER BY create_time DESC, id DESC

    </select>

    <select id="queryLogPageV2List" resultType="org.springblade.modules.iot.persistence.entity.vo.IoTDeviceLogVO">
        select *
        from iot_device_log
        <where>
            <if test="iotId != null and iotId != ''">
                and iot_id = #{iotId}
            </if>
            <if test="deviceId != null and deviceId != ''">
                and device_id = #{deviceId}
            </if>
            <if test="productKey != null and productKey != ''">
                and product_key = #{productKey}
            </if>
            <if test="deviceName != null and deviceName != ''">
                and device_name like concat('%',#{deviceName},'%')
            </if>
            <if test="messageType != null and messageType != ''">
                and message_type = #{messageType}
            </if>
            <if test="params!=null and params.event != null and params.event != ''">
                and JSON_EXTRACT(content,concat('$.','event')) = #{params.event}
            </if>
            <if test="params!=null and params.properties != null and params.properties != ''">
                and json_contains_path(content,'all',concat('$.properties.',#{params.properties}))
            </if>
            <if test="params!=null and  params.beginCreateTime != null">
                and create_time&gt;=#{params.beginCreateTime}
            </if>
            <if test="params!=null and params.endCreateTime != null">
                and create_time&lt;=#{params.endCreateTime}
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="queryLogById" resultType="org.springblade.modules.iot.persistence.entity.vo.IoTDeviceLogVO">
        select *
        from iot_device_log
        <where>
            1=1
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="iotId != null and iotId != ''">
                and iot_id = #{iotId}
            </if>
            <if test="productKey != null and productKey != ''">
                and product_key = #{productKey}
            </if>
        </where>

    </select>

    <select id="queryLogPageList" resultType="org.springblade.modules.iot.persistence.entity.vo.IoTDeviceLogVO">
        select *
        from iot_device_log
        <where>
            <if test="iotId != null and iotId != ''">
                and iot_id = #{iotId}
            </if>
            <if test="deviceId != null and deviceId != ''">
                and device_id = #{deviceId}
            </if>
            <if test="productKey != null and productKey != ''">
                and product_key = #{productKey}
            </if>
            <if test="deviceName != null and deviceName != ''">
                and device_name like concat('%',#{deviceName},'%')
            </if>
            <if test="messageType != null and messageType != ''">
                and message_type = #{messageType}
            </if>
            <if test="params.event != null and params.event != ''">
                and JSON_EXTRACT(content,concat('$.','event')) = #{params.event}
            </if>
            <if test="params.properties != null and params.properties != ''">
                and json_contains_path(content,'all',concat('$.properties.',#{params.properties}))
            </if>
            <if test="params.beginCreateTime != null">
                and create_time&gt;=#{params.beginCreateTime}
            </if>
            <if test="params.endCreateTime != null">
                and create_time&lt;=#{params.endCreateTime}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="queryEventTotalByEventAndId" resultType="java.lang.String">
        SELECT create_time
        FROM iot_device_log
        WHERE iot_id = #{iotId}
          AND message_type = 'EVENT'
          AND `event` = #{event}
        ORDER BY create_time desc LIMIT 1
    </select>


    <insert id="addFunctionLog" parameterType="org.springblade.modules.iot.persistence.entity.vo.IoTDeviceLogVO"
            useGeneratedKeys="true" keyProperty="id">
        insert into iot_device_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="iotId != null">iot_id,</if>
            <if test="deviceId != null and deviceId != ''">device_id,</if>
            <if test="product_key != null">product_key,</if>
            <if test="device_name != null">device_name,</if>
            <if test="message_type != null">message_type,</if>
            <if test="command_id != null">command_id,</if>
            <if test="command_status != null">command_status,</if>
            <if test="event != null">event,</if>
            <if test="point != null">point,</if>
            <if test="content != null">content,</if>
            <if test="create_time != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="iotId != null">#{iotId},</if>
            <if test="deviceId != null and deviceId != ''">#{deviceId},</if>
            <if test="product_key != null">#{productKey},</if>
            <if test="device_name != null">#{deviceName},</if>
            <if test="message_type != null">#{messageType},</if>
            <if test="command_id != null">#{commandId},</if>
            <if test="command_status != null">#{commandStatus},</if>
            <if test="event != null">#{event},</if>
            <if test="point != null">#{point},</if>
            <if test="content != null">#{content},</if>
            <if test="create_time != null">#{createTime},</if>
        </trim>
    </insert>

    <select id="queryCoordinatesLogByIotId" resultType="org.springblade.modules.iot.pojo.entity.IoTDeviceLog">
        select *
        from iot_device_log
        where iot_id = #{iotId}
          and message_type = 'PROPERTIES'
          and content like '%coordinate%'
        order by id desc limit 1,1
    </select>
    <select id="queryLatestCoordinatesLogByIotId"
            resultType="org.springblade.modules.iot.pojo.entity.IoTDeviceLog">
        select *
        from iot_device_log
        where iot_id = #{iotId}
          and message_type = 'PROPERTIES'
          and content like '%coordinate%'
        order by id desc limit 1
    </select>
    <select id="selectOneForCtwing" resultType="org.springblade.modules.iot.pojo.entity.IoTDeviceLog">
        select *
        from iot_device_log
        where iot_id = #{iotId}
          and command_id = #{commandId}
          and command_status = #{commandStatus}
          and create_time >= #{createTime}
    </select>
    <update id="updateLogByIdForCtwing">
        update iot_device_log
        set command_status=1
        where id = #{ioTDeviceLog.id}
    </update>
</mapper>