<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.iot.persistence.mapper.SceneLinkageMapper">

    <resultMap type="org.springblade.modules.iot.pojo.entity.SceneLinkage" id="SceneLinkageResult">
        <result property="id" column="id"/>
        <result property="sceneName" column="scene_name"/>
        <result property="touch" column="touch"/>
        <result property="triggerCondition" column="trigger_condition"/>
        <result property="execAction" column="exec_action"/>
        <result property="sleepCycle" column="sleep_cycle"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="status" column="status"/>
        <result property="devId" column="dev_id"/>
    </resultMap>

    <sql id="selectSceneLinkageVo">
        select id,
               scene_name,
               touch,
               trigger_condition,
               exec_action,
               sleep_cycle,
               create_by,
               create_time,
               update_by,
               update_time,
               status,
               dev_id
        from scene_linkage
    </sql>

    <select id="selectSceneLinkageList" parameterType="org.springblade.modules.iot.pojo.entity.SceneLinkage"
            resultMap="SceneLinkageResult">
        <include refid="selectSceneLinkageVo"/>
        <where>
            <if test="sceneName != null  and sceneName != ''">and scene_name like concat('%',
                #{sceneName}, '%')
            </if>
            <if test="touch != null  and touch != ''">and touch = #{touch}</if>
            <if test="triggerCondition != null  and triggerCondition != ''">and trigger_condition =
                #{triggerCondition}
            </if>
            <if test="execAction != null  and execAction != ''">and exec_action = #{execAction}</if>
            <if test="sleepCycle != null ">and sleep_cycle = #{sleepCycle}</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="devId != null  and devId != ''">and
                JSON_CONTAINS(trigger_condition, JSON_OBJECT('deviceId',
                #{devId}), '$')
            </if>
            <if test="createBy !=null and createBy != ''">and create_by=#{createBy}</if>
        </where>
    </select>


    <select id="selectSceneLinkageListByProductKeyAndDeviceId"
            resultMap="SceneLinkageResult">
        <include refid="selectSceneLinkageVo"/>
        <where>
            JSON_CONTAINS(trigger_condition, JSON_OBJECT('deviceId',
            #{deviceId}), '$') AND JSON_CONTAINS(trigger_condition, JSON_OBJECT('productKey',
            #{productKey}), '$')
        </where>
    </select>

    <select id="selectSceneLinkageById" parameterType="Long" resultMap="SceneLinkageResult">
        <include refid="selectSceneLinkageVo"/>
        where id = #{id}
    </select>
    <select id="checkSelf" resultType="Integer">
        select count(*)
        from scene_linkage
        where id = #{id}
          and create_by = #{unionId}
    </select>
    <insert id="insertSceneLinkage" parameterType="org.springblade.modules.iot.pojo.entity.SceneLinkage"
            useGeneratedKeys="true" keyProperty="id">
        insert into scene_linkage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sceneName != null  and sceneName != ''">scene_name,</if>
            <if test="touch != null  and touch != ''">touch,</if>
            <if test="triggerCondition != null  and triggerCondition != ''">trigger_condition,</if>
            <if test="execAction != null  and execAction != ''">exec_action,</if>
            <if test="sleepCycle != null ">sleep_cycle,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="status != null ">status,</if>
            <if test="devId != null  and devId != ''">dev_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sceneName != null  and sceneName != ''">#{sceneName},</if>
            <if test="touch != null  and touch != ''">#{touch},</if>
            <if test="triggerCondition != null  and triggerCondition != ''">#{triggerCondition},</if>
            <if test="execAction != null  and execAction != ''">#{execAction},</if>
            <if test="sleepCycle != null ">#{sleepCycle},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="status != null ">#{status},</if>
            <if test="devId != null  and devId != ''">#{devId},</if>
        </trim>
    </insert>

    <update id="updateSceneLinkage" parameterType="org.springblade.modules.iot.pojo.entity.SceneLinkage">
        update scene_linkage
        <trim prefix="SET" suffixOverrides=",">
            <if test="sceneName != null  and sceneName != ''">scene_name = #{sceneName},</if>
            <if test="touch != null  and touch != ''">touch = #{touch},</if>
            <if test="triggerCondition != null  and triggerCondition != ''">trigger_condition =
                #{triggerCondition},
            </if>
            <if test="execAction != null  and execAction != ''">exec_action = #{execAction},</if>
            <if test="sleepCycle != null ">sleep_cycle = #{sleepCycle},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="devId != null  and devId != ''">dev_id = #{devId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSceneLinkageById" parameterType="Long">
        delete
        from scene_linkage
        where id = #{id}
    </delete>

    <delete id="deleteSceneLinkageByIds" parameterType="Long">
        delete from scene_linkage where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectTriggerByDevId" parameterType="String" resultMap="SceneLinkageResult">
        select *
        from scene_linkage
        where status = 0
          and JSON_CONTAINS(trigger_condition, JSON_OBJECT('deviceId', #{deviceId}), '$')
    </select>
    <select id="selectTriggerByType" parameterType="String" resultMap="SceneLinkageResult">
        select *
        from scene_linkage
        where status = 0
          and JSON_CONTAINS(trigger_condition, JSON_OBJECT('trigger', 'device'), '$')
    </select>
</mapper>