<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.iot.persistence.mapper.admin.SysUserRoleMapper">

    <resultMap type="org.springblade.modules.iot.persistence.entity.admin.SysUserRole" id="SysUserRoleResult">
        <result property="uuid" column="uuid"/>
        <result property="unionId" column="union_id"/>
        <result property="roleId" column="role_id"/>
    </resultMap>

    <delete id="deleteUserRoleByUserIds" parameterType="String">
        delete from sys_user_role
        where union_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
