<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqttsnet.thinglinks.system.mapper.tenant.DefTenantDatasourceConfigRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mqttsnet.thinglinks.system.entity.tenant.DefTenantDatasourceConfigRel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId"/>
        <result column="datasource_config_id" jdbcType="BIGINT" property="datasourceConfigId"/>
        <result column="db_prefix" jdbcType="VARCHAR" property="dbPrefix"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,created_time,created_by,updated_time,updated_by,
        tenant_id, datasource_config_id, application, db_prefix
    </sql>

</mapper>
